@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@font-face {
    font-family: Primary;
    src: url("../fonts/HugeGothic-Bold.woff");
}

*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}
html,body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%
}
:root{
    --clr-accent: #20af91;
    --clr-light: #fff;
    --clr-dark: #333;
}

body{
    margin:0;
    padding:0;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-family: "Rubik", sans-serif !important;
    color: var(--clr-dark);
    background-color: var(--clr-accent);
    transition: background-color 500ms;
}

h1,h2,h3,h4,.nav,.btn,#screen-text{
    font-family: Primary, "Inter";
    font-weight: normal;
}

.seo-only{
    display: none;
}

.nav-open .current-link,
.szolgaltatasok-item i,
.green-color,
#arlista i{
    color: var(--clr-accent);
}

h3,
.section-subtitle,
.section-melyiket-valasszam,
.portfolio #screen-text,
.portfolio #portfolio h3{
    color: var(--clr-dark);
}

.szolgaltatasok, .arlista{
    background-color: #C8E3D4;
    background-image: url(../img/bg-pattern.png);
}

.portfolio, .kapcsolat{
    background-color: var(--clr-accent);
    background-image: url(../img/bg-pattern.png);
}

a {
    color: #000;
    text-decoration: none;
}

.navbar{
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 500ms;
}

.language-hamburger{
    display: flex;
}

#language-selector{
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: all 350ms;
    z-index: 1000;
}

#language-selector-title{
    margin-right: .5em;
}

.nav-open #language-selector{
    visibility: visible;
    opacity: 1;
    margin-right: 1em;
}

#language-selector:hover{
    color: var(--clr-light);
}

#language-selector img{
    opacity: 0.6;
    transition: opacity 350ms;
}

#language-selector:hover img{
    opacity: 1;
}

.space{
    width: 40px;
    display: none;
}

#logo{
    width: 150px;
    visibility: visible;
    opacity: 1;
    transition: all 500ms;
    vertical-align: middle;
}

#logo:hover{
    transform: scale(0.9);
}


.container{
    width: 100%;
    padding: 1em 4em;
}

p{
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin: .3em 0;
}

h1,h2,h4{
    margin:0;
}

h2{
    margin-bottom: 1em;
    font-size: 2.2em;
}


#kezdolap{
    padding: 0 !important;
    margin-bottom: 3em;
    overflow: hidden;
}


.section-title{
    font-size: 5.5em;
    margin-top: .25em;
    margin-bottom: .15em;
    transition: all 500ms;
}

.section-subtitle, .section-melyiket-valasszam{
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 1.5em;
}

#portfolio .section-title, #kapcsolat .section-title{
    color: #C8E3D4;
    text-shadow: none;
}

#szolgaltatasok .section-title, #arlista .section-title{
    color: var(--clr-accent) !important;
    text-shadow: none !important;
}

.portfolio .section-title, .kapcsolat .section-title{
    color: var(--clr-light) !important;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3) !important;
}



#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.dynamic{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#blinking-cursor{
    font-size:1.1em;
    font-family: sans-serif;
    line-height: 1.2em;
    position: absolute;
}

#dynamic-text{
    font-size: 6em;
    color: var(--clr-light);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    min-height: 1.5em;
    line-height: 1.5em;
    margin:0;
}

.dynamic-slogan{
    text-align: left;
    color: var(--clr-accent);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.nav-active{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.4em 4em;
}

.nav-open .nav-active{
    background-color: transparent;
}


.btn{
    font-size: 1.5em;
    border-radius: .4em;
    background: var(--clr-accent);
    text-decoration: none;
    color: #000;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4);
    letter-spacing: 1px;
    transition: all 300ms;
    text-transform: uppercase;
    padding: .5em 1em .35em 1em;
}

.btn:hover{
    background: white;
    color: var(--clr-accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.arlista-btn, .portfolio-btn{
    font-size: 1.4rem;
    color: var(--clr-light);
}

.portfolio-btn{
    border: none;
    cursor: pointer;
    background-color: rgb(25, 114, 96);
}

.btn-current{
    background: #fff !important;
    color: #000 !important;
}


section{
    min-height: 100vh;
    text-align: center;
    margin-bottom: 8em;
}
section:nth-last-of-type(1){
    margin-bottom: 2em;
}



.box-style{
    border-radius: 25px;
    border-bottom: 6px solid #aaa;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
}

.szolgaltatasok-box{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    margin-top: 2em;
    gap: .6em;

}

.szolgaltatasok-item{
    background-color: #f9f9f9;
    padding: .7em;
    transition: 350ms transform ease-in-out;
}

.szolgaltatasok-item p{
    font-size: 1.3rem;
}

.szolgaltatasok-item i{
    font-size: 2.5em;
    margin-top: .3em;
}

.szolgaltatasok-item h3{
    margin: .6em 0;
}

.macbook{
    position: relative;
    margin-top: 3em;
}

.laptop{
    width: 100%;
}

#screen-text{
    font-size: 2em;
    letter-spacing: 1px;
}

.portfolio-wrap{
    gap: .7em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}

.portfolio-item{
    display: flex;
    align-items: flex-start;
    max-height: 350px;
    position: relative;
    opacity: 1;
    transition: opacity 1s;
    background-color: #888;
    border-color: #888;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}


.portfolio-desc{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 500ms;
    z-index: 1;
}

.portfolio-desc a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-shadow: 0 2px 10px #000;
    font-size: 1.8rem;
    padding: .5em;
}

.portfolio-desc a span{
    color: #999;
    font-size:.45em;
    margin-top:2px;
    text-transform: uppercase;
}

.portfolio-item:hover .portfolio-desc{
    overflow: hidden;
    opacity: 1;
}

.portfolio-hidden{
    visibility: collapse;
    opacity: 0;
    position: fixed;
    transform: scale(0.8);
}

.portfolio-item > img{
    object-fit: cover;
    width: 100%;
    transition: transform 500ms;
}

.portfolio-item:hover > img{
    transform: scale(1.3);
}

.portfolio-links{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    gap: .4em;
}

.arlista-wrap, .arlista-melyiket{
    display: grid;
    justify-content: center;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.4fr));
    margin-bottom: 2em;
}

.arlista-item{
    background-color: white;
    padding-bottom: 1.8em;
    transition: 350ms transform ease-in-out;
    align-self: flex-start;
}

.arlista-item:hover, .szolgaltatasok-item:hover{
    transform: scale(1.05);
}

.arlista-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--clr-accent);
    color: var(--clr-light) !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 2.2rem;
    margin-top: 0;
    padding-top: .5em;
    padding-bottom: .2em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.arlista-main-title, .arlista-sub-title{
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
}

.arlista-title .arlista-sub-title{
    display: block;
    font-size: .5em;
    color: var(--clr-dark);
    text-shadow: none;
}

.uzleti{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.arlista-title .nepszeru{
    position: absolute;
    background-color: white;
    color: var(--clr-accent);
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-shadow: none;
    text-transform: uppercase;
    font-size: .4em;
    right: -50px;
    transform: rotate(45deg);
    top: 2.1em;
    padding: .3em 4.5em;
    z-index: 0;
    letter-spacing: 1px;
}

.arlista-price{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: var(--clr-dark);
    margin: 0;
}

.arlista-price .ft{
    font-size: .5em;
    margin-left: .2em;
    vertical-align: middle;
}

.arlista-price .tol{
    font-size: .25em;
    vertical-align: middle;
}

.arlista-list{
    text-align: left;
    list-style: none;
    padding: 0;
    margin-bottom: 1.8em;
}

.arlista-list li{
    position: relative;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: .6em;
    margin-bottom: .6em;
    padding-left: 2.5em;
}

.arlista-list li i{
    margin-right: 1em;
    color: var(--clr-accent);
    position: absolute;
    margin-left: -1.2em;
    margin-top: 3px;
}

.arlista-infobox img{
    max-width: 50%;
    align-self: center;
}

.arlista-infobox{
    display: flex;
    align-items: flex-start;    
}


.arlista-infobox-info{
    margin-left: 1em;
    text-align: left;
}



.arlista-infobox-leiras{
    border-bottom: 1px solid var(--clr-accent);
    margin-bottom: .4em;
    padding-bottom: 0;
}

.arlista-infobox-leiras:nth-last-child(1){
    border-bottom: none;
    padding-bottom: 0;
}

.arlista-infobox-leiras p{
    font-size: 1.1rem;
}

.arlista-infobox-leiras h4{
    font-size: 1.3rem;
}

.arlista-infobox-pelda{
    font-size: 1rem !important;
    margin-top: 1rem;
}
.arlista-infobox-pelda a{
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding: .35rem .7em;
    border-radius: 10px;
    display:inline-block;
    margin-bottom: .5em;
    margin-right: .5rem;
}

.arlista-infobox-pelda a:hover{
    background-color: var(--clr-light);
    color: var(--clr-accent);
}

.melyiket-valasszam{
    margin-top: 2em !important;
}

.arlista-tajekoztato{
    margin-bottom: 5em;
}

.arlista-tajekoztato p{
    font-size: 1.4em;
}

.kapcsolat-form{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
}

.kapcsolat-form input, .kapcsolat-form .usertext{
    font-family: Primary, "Inter";
    color: #333;
    letter-spacing: 1px;
}

.kapcsolat-form #btn-submit{
    width: 200px;
    max-width: 200px;
    margin: 0 auto;
    font-size: 1em;
}

.kapcsolat-form input, .kapcsolat-form textarea, .kapcsolat-form button{
    font-size: 1.4rem;
    padding: 1.2rem;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    min-width: 10px;
}

.valasztott-kategoria{
    display: none;
    color: var(--clr-light);
    font-weight: normal;
    margin-bottom: 1.5em;
}

@media (min-width: 1450px){
    .arlista-wrap{
        grid-template-columns: repeat(auto-fit,minmax(auto,380px));
    }
    #language-selector{
        visibility: visible;
        opacity: 1;
        margin-right: 1em;
    }
}

@media (min-width: 968px){

    .kapcsolat-form{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
            "input1 input2"
            "textarea textarea"
            "button button";
        gap: .5em;
    }
    .checkbox{
        grid-area: checkbox;
    }
    .username{
        grid-area: input1;
    }
    .useremail{
        grid-area: input2;
    }
    .usertext{
        grid-area: textarea;
    }
    .formsubmit{
        grid-area: button;
    }

}

@media (max-width: 966px){
    .arlista-wrap{
        grid-template-columns: repeat(auto-fit,minmax(auto, 450px));
    }
    .arlista-infobox{
        flex-direction: column;
    }
    .arlista-infobox-info{
        margin-left: 0;
    }
    .arlista-infobox img{
        margin-bottom: 2em;
        max-width: 100%;
    }
    .arlista-infobox-leiras{
        margin-bottom: 2em;
    }
    .arlista-price{
        font-size: 4em;
    }
}

@media (max-width: 700px){
 
    #dynamic-text{
        font-size: 3.9em;
    }
    #logo-90{
        display: none;
    }

    .section-title{
        font-size: 3.8em !important;
    }

    #screen-text{
        font-size: 1.5em;
    }

    .szolgaltatasok-item p{
        font-size: 1.5em;
    }
    .szolgaltatasok-item i{
        font-size: 4em;
    }
    .szolgaltatasok-item h3{
        font-size: 2em;
    }

    .szolgaltatasok-item{
        padding: 1.5em;
    }
    
    .arlista-title{
        font-size: 1.8rem;
    }
    .arlista-title .nepszeru{
        right: -40px;
    }
    .arlista-btn{
        font-size: 1.3em;
    }
}

@media (max-width: 615px){
    .portfolio-links{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 430px){
    .space{
        display: block;
    }
    .nav__link{
        font-size: 2.5em !important;
    }
    .nav__list li + li {
        margin-top: 3em !important;
    }
    .container{
        padding: 1.5em;
    }
    h2{
        font-size: 1.5em;
    }
    #dynamic-text{
        font-size: 3.2em;
        line-height: 1.5em;
        overflow-x: hidden;
    }

    .dynamic-slogan{
        margin-top: .7em;
        margin-bottom: 1.5em;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        width: 3em !important;
    }

    .nav-open .nav-toggle{
        right: 1.5em;
        top: 2.4em;
    }

    #logo{
        width: 120px;
    }
    .navbar{
        padding: 0.6em 1.5em;
        
    }

    .section-title{
        font-size: 2.5em !important;
    }

    .portfolio-wrap{
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }

    .portfolio-desc a{
        font-size: 1.7em;
        word-break: break-all;
    }

    .arlista-list li{
        font-size: 1.3em;
    }
    .arlista-list li i{
        margin-right: .5em;
    }
    .arlista-title span{
        margin-top: -2px;
    }
    .arlista-title .nepszeru{
        top: 2em;
    }
    .arlista-infobox-pelda a{
        display: block;
        text-align: center;
        margin-right: 0;
    }
    #language-selector{
        display: none;
    }
    .nav-open #language-selector{
        display: flex;
    }
    .nav-open .space, .nav-open #logo{
        display: none !important;
    }
}

@media (max-width: 275px){
    .hamburger, .hamburger::before, .hamburger::after{
        width: 2em !important;
        height: 3px !important;
    }
    .hamburger::before{
        top: 8px !important;
    }
    .hamburger::after{
        bottom: 8px !important;
    }
    .nav-open .hamburger::after {
        transform: rotate(-90deg) translateX(-8px) !important;
    }
    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-8px) !important;
    }
    #logo{
        width: 90px;
    }
    .nav__link{
        font-size: 2em !important;
    }
    #dynamic-text{
        font-size: 2.5em;
    }
    .section-title{
        font-size: 1.5em !important;
    }
    .szolgaltatasok-box{
        grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    }
    .szolgaltatasok-item p, .szolgaltatasok-item h3, #dynamic-text{
        word-break: break-all;
    }
    .portfolio-wrap, .arlista-wrap{
        grid-template-columns: repeat(auto-fit, minmax(110px,1fr));
    }
    .portfolio-item{
        height: 200px;
    }
    .portfolio-item img{
        height: 100%;
    }
    .portfolio-btn{
        font-size: 1.2em;
    }
    .arlista-title, .arlista-price{
        font-size: 2em;
    }
    .arlista-sub-title{
        line-height: 1.2em;
    }
    .arlista-list li{
        padding-left: 2em;
        font-size: 1em;
    }
    .arlista-infobox-leiras p{
        font-size: 1.3em;
    }
    .arlista-infobox-pelda a{
        word-break: break-all;
    }
    .space{
        display: none !important;
    }
    #language-selector{
        font-size: 1em;
    }
    #language-selector img{
        width: 20px;
    }
}

@media (max-width: 200px){
    .portfolio-desc{
        word-break: break-all;
    }
    .arlista-title .nepszeru{
        display: none !important;
    }
    .arlista-title{
        font-size: 1.5em;
    }
    .arlista-info-maintitle, .arlista-info-subtitle, .section-subtitle, .szolgaltatasok-item{
        font-size: .8em;
    }
}