@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@font-face {font-family: Primary; src: url("../fonts/HugeGothic-Bold.woff");}
@font-face {font-family: Secondary; src: url("../fonts/Tobias-Regular.ttf");}

*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}
:root{
    --clr-accent: #20af91 /*#ec005b*/;
    --clr-light: #fff;
    --clr-dark: #444;
}

body{
    margin:0;
    padding:0;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-family: Primary, "sans-serif";
    background-color: #000;
    background-image: url(../img/pattern_bg.png);
    transition: background-color 500ms;
}

.navbar{
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 500ms;
}



#logo{
    width: 150px;
    opacity: 1;
    transition: opacity 500ms;
}

.nav-open .current-link, .szolgaltatasok-item i, .section-title{
    color: var(--clr-accent);
}



.container{
    width: 100%;
    padding: 1em 4em;
}

p{
    /* font-family: Secondary, "sans-serif"; */
    font-family: 'Poppins', sans-serif;
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin: .3em 0;
}

h1,h2{
    margin:0;
}

h2{
    margin-bottom: 1em;
    font-size: 2.2em;
}

h1{
    font-size: 5em;
    transition: all 500ms;
}

.kezdolap .section-title{
    color: #000;
}

#kezdolap{
    padding: 0 !important;
}

#kezdolap, #szolgaltatasok{
    transition: opacity 500ms;
}

.szolgaltatasok #kezdolap, .portfolio #szolgaltatasok{
    opacity: 0;
}

.section-title{
    font-size: 5em;
    padding-top: .4em;
    margin-bottom: .4em;
}

#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.dynamic{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#blinking-cursor{
    font-family: Secondary;
    line-height: 1em;
}

#dynamic-text{
    font-size: 5em;
    color: var(--clr-light);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    min-height: 1.5em;
    line-height: 1.5em;
}

.nav-active{
    background-color: rgba(0,0,0,0.2);
    padding: 0.4em 4em;
}

.nav-open .nav-active{
    background-color: transparent;
}


.btn{
    font-size: 1.5em;
    background: linear-gradient(180deg, white, rgba(0, 0, 0, 0.1));
    padding: 0.35em 1em;
    font-family: Primary;
    border-radius: .4em;
    text-decoration: none;
    color: black;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    letter-spacing: 1px;
    transition: all 300ms;
    text-transform: uppercase;
}

.btn:hover{
    background: linear-gradient(180deg, white, rgba(255, 255, 255, 0.5));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}


section{
    min-height: 100vh;
    text-align: center;
}

.szolgaltatasok{
    background-color: #e9e9e9;
}

.portfolio{
    background-color: rgb(187, 150, 101);
}

.kapcsolat{
    background-color: rgb(172, 118, 145);
}


.szolgaltatasok-box{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    margin-top: 2em;
    gap: .6em;

}

.szolgaltatasok-item{
    background-color: #f9f9f9;
    border-radius: 1em;
    padding: .7em;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.szolgaltatasok-item p{
    font-size: .7em;
    margin-bottom: 0;
}

.szolgaltatasok-item i{
    font-size: 2.5em;
    margin-top: .5em;
}








@media (max-width: 700px){
 
    #logo-90{
        display: none;
    }

    .section-title{
        font-size: 4em !important;
    }

}

@media (max-width: 430px){
    .nav__link{
        font-size: 2.5em;
    }
    .nav__list li + li {
        margin-top: 3em;
    }
    .container{
        padding: 1.5em;
    }
    h2{
        font-size: 1.5em;
    }
    #dynamic-text{
        font-size: 3em;
        line-height: 1.5em;
        overflow-x: hidden;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        width: 3em;
    }

    .nav-open .nav-toggle{
        right: 1.5em;
        top: 2.4em;
    }
    #logo{
        width: 120px;
    }
    .navbar{
        padding: 0.6em 1.5em;
    }

    .section-title{
        font-size: 2.5em !important;
    }
}

@media (max-width: 240px){
    .navbar{
        flex-direction: column;
    }
    #dynamic-text{
        font-size: 2em;
    }
    .section-title{
        font-size: 1.5em !important;
    }
}